* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1664px;
    /* padding: 100px 0; */
    margin: 0 auto;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;

    }
}

@media (min-width: 601px) {
    .wrapper {
        width: 100%;

    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 100%;

    }
}

@media (min-width: 992px) {
    .wrapper {
        width: 100%;

    }
}

@media (min-width: px) {
    .wrapper {
        width: 100%;

    }
}

header {

    background-image: linear-gradient(rgba(84, 82, 82, 0.5),
            rgba(104, 103, 103, 0.5)),
        url("../img/header2.jpg");

    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    /* margin-bottom: 6rem; */
    /* padding-bottom: 3rem; */
}

.logo img {
    width: 150px;
    height: auto;
    padding-left: 5rem;

}

.nav {
    display: flex;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: 8rem;
    margin-top: 4rem;
}

.menus {
    text-decoration: none;
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}

.header-text {
    margin-top: 6rem;
    padding-left: 5rem;
}

.header-text h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35pt;
    color: white;
}

#earn-cash {
    color: #CC99FF;
}

.header-text h3 {
    margin-top: 2rem;
    font-size: 18pt;
    color: white;
}

.header-text p {
    margin-top: 2rem;
    font-size: 15pt;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    gap: 30px;
}

.header-btns {
    margin-top: 2rem;
    display: flex;
    gap: 10px;

}

.play-btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    background: #333366;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.play-btn:hover {
    background: #9cc6e0;
    background-image: -webkit-linear-gradient(top, #9cc6e0, #9c9ce8);
    background-image: -moz-linear-gradient(top, #9cc6e0, #9c9ce8);
    background-image: -ms-linear-gradient(top, #9cc6e0, #9c9ce8);
    background-image: -o-linear-gradient(top, #9cc6e0, #9c9ce8);
    background-image: linear-gradient(to bottom, #9cc6e0, #9c9ce8);
    text-decoration: none;
}

#play-section {
    background-color: #E8E7EC;
    height: 100vh;

}

#play-section h2 {
    color: black;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    text-align: center;
    padding-top: 4rem;

}

#play-section p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 1rem;
}

#play-now {
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    display: block;
    margin-top: 5rem;
}

.mario {
    margin-left: 2rem;
    margin-top: 2rem;
}

.pac {
    margin-left: 4rem;
    margin-top: 2rem;
}

.games {
    display: flex;
    justify-content: center;
    width: 100%;
}

#about-section {
    background-color: #2B3E50;
    height: 100vh;
    display: flex;
}

#about-section h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    color: #CACBCD;
    padding-top: 4rem;
}

#about-section p {
    font-family: 'Courier New', Courier, monospace;
}

#about-text {
    padding-left: 5rem;
    padding-top: 1rem;
}

#about-img img {
    height: 70vh;
    padding-right: 5rem;
    padding-top: 5rem;
}

#terms-btn {
    margin-top: 3rem;
}

#our-mission {
    margin-top: 2rem;
}

#partners-section {
    background-color: #E8E7EC;
    height: 110vh;
}

#partners-section h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    text-align: center;
    padding-top: 4rem;
}

#partners-section p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;

}

#brands-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 13rem;
    /* grid-column-gap: px; */
    /* grid-row-gap: 10px; */
}

#brands-logos img {
    object-fit: contain;
    width: 150px;
    height: 180px;

}


.footer {
    max-width: 1664px;
    background-color: #000000;
    margin: auto;
    height: 50vh;
}


.ul {
    list-style: none;
}

.footer h4 {
    color: #CACBCD;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 2rem;
    padding-left: 7rem;
   
}

.footer-menus ul li a {
    text-decoration: none;
    color: #ffffff;
   
}

.footer-menus p {
    color: white;
}

.footer-logo {
    
}

.footer-logo img {
    width: 200px;
    margin-top: -3rem;
     
}

.footer-line {
    height: 1px;
    width: 85%;
    background-color: grey;
    margin-left: 6rem;
}

.copyright-text {
    color: white;
    margin-top:2rem;
    margin-left: 6rem;

}